@model Facturador.Models.factura

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>factura</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.empresa_nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.empresa_nombre)
                @Html.ValidationMessageFor(model => model.empresa_nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.empresa_direccion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.empresa_direccion)
                @Html.ValidationMessageFor(model => model.empresa_direccion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.empresa_nit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.empresa_nit)
                @Html.ValidationMessageFor(model => model.empresa_nit)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.empresa_autorizacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.empresa_autorizacion)
                @Html.ValidationMessageFor(model => model.empresa_autorizacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lugar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lugar)
                @Html.ValidationMessageFor(model => model.lugar)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.fecha_facturacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.fecha_facturacion, new { type = "date",value=@Model.fecha_facturacion.Value.ToString("dd/MM/yyyy") })
                @Html.ValidationMessageFor(model => model.fecha_facturacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cliente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cliente)
                @Html.ValidationMessageFor(model => model.cliente)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cliente_nit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cliente_nit)
                @Html.ValidationMessageFor(model => model.cliente_nit)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descripcion_factura, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcion_factura)
                @Html.ValidationMessageFor(model => model.descripcion_factura)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.monto_factura, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.monto_factura)
                @Html.ValidationMessageFor(model => model.monto_factura)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.monto_literal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.monto_literal)
                @Html.ValidationMessageFor(model => model.monto_literal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.codigo_control, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.codigo_control)
                @Html.ValidationMessageFor(model => model.codigo_control)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_emision, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_emision)
                @Html.ValidationMessageFor(model => model.fecha_emision)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.llave_dosificacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.llave_dosificacion)
                @Html.ValidationMessageFor(model => model.llave_dosificacion)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
